<!--The content below is only a placeholder and can be replaced.-->
  <h3 class="text-center">WORKSHOP 2 </h3>
  <table class="table">
    <thead>
      <tr>
        <th>รหัสสินค้า</th>
        <th>ชื่อสินค้า</th>
        <th>ราคาสินค้า</th>
        <th> </th>
      
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of productlist">
            <td>{{p.pId}}</td>
            <td>{{p.pName}}</td>
            <td>{{p.pcost}}</td>
            <td>
              <button type="button" class="btn btn-outline-primary">เลือกสินค้า</button>

            </td>
      
        </tr>
      </tbody>
  </table>
  <div class="row">
      <div class="col-6 bg-info">test</div>
      <div class="col-6 bg-info">test</div>

  </div>
